/*see https://forum.xfce.org/viewtopic.php?pid=66248#p66248*/

/*.thunar .shortcuts-pane .view {background-color: red} /* sidebar - shortcuts view */
/*.thunar .shortcuts-pane .view {color: blue} /* sidebar - shortcuts view - font color - can use pseudo states :selected, :hover */
/*.thunar treeview {background-color: pink} /* sidebar - treeview */
/*.thunar treeview {color: blue} /* sidebar - shortcuts view - font color - can use pseudo states :selected, :hover */

/*.thunar .standard-view .view {background-color: blue} /* main contents view */
/*.thunar .standard-view .view {color: yellow} /* main contents view font color - can use pseudo states :selected, :hover */
/*.thunar .standard-view .view header button {background-color: lightblue} /* main contents views - header while in list view */

/*.thunar toolbar {background-color: yellow} /* toolbar */ 
/*.thunar toolbar entry {background-color: yellow} /* toolbar entry when pathbar style */
/*.thunar .path-bar-button {background: none; background-color: yellow} /* toolbar entry when toolbar style */

/*.thunar statusbar {background-color: green} /* status bar */
/*.thunar paned>grid {background-color: green} /* to get statusbar background - may affect other areas ? */

/*.thunar menubar { color: red } /* just the menubar contents */
/*.thunar menu {background-color: orange; color: purple} /* just the drop-down menus */
/*.thunar menuitem:hover { background-color: yellow; color: blue } /* menu items being hovered over */

/*
thunar -q
GTK_DEBUG=interactive thunar
*/

/* .thunar toolbar, */
/* .thunar entry,  */
/* .thunar statusbar, */
/* .thunar .view,  */
.thunar .view:hover,
.thunar .view:selected,
.thunar selection,
menubar > menuitem:hover,
menu > menuitem:hover {
    background-color: #ffbb00;
    color: black;
    box-shadow: none;
    /* background-color: transparent; */
    /* border: 1px solid #FFA0C0; */
    /* background-image: none; */
}