@define-color backgroundColor #eeeeff;
@define-color highlightWritingColor #11111b;
@define-color writingColor #11111b;

@define-color borderColor #ffbb00;
@define-color highlightColor #ffbb00;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0; 
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @writingColor;
}

/*this is the pop up tooltip whenhovering*/
tooltip {
    background: @backgroundColor;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @borderColor;
}

tooltip label{
    color: @writingColor;
    font-size: 16px; /*tooltip text size*/
}

/*Top left to right*/
#custom-power_btn,
#custom-lock_screen,
#workspaces,
#idle_inhibitor,
#clock,                     /*same as custom-time*/
#custom-time,               /*same as clock*/
#custom-updates,
#tray,
#cpu,
#pulseaudio,
#temperature,
#language,
#custom-myhyprv,
/*#window,Not Used?*/
/*#disk,Not Used?*/
/*#memory,Not Used?*/
/*#network,Shows IP*/
/*#custom-light_dark,No longuer used*/
#custom-power_profile,/*Not sure the order?*/
#battery,/*Not sure the order?*/
#backlight/*Not sure the order?*/ {
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    border: 0px;
}

/*Bottom Left to right*/
#custom-dropdownScripts,
#custom-launch_wofi,
#custom-dropdownApps,
#custom-dropdownFiles,
/* #custom-launch_firefox,
#custom-launch_thunderbird,
#custom-launch_steam,
#custom-launch_discord,
#custom-launch_gimp,
#custom-launch_blender,
#custom-launch_thunar,
#custom-launch_kitty, */
#taskbar,
#custom-media,
#custom-mediaBack,
#custom-mediaPlay,
#custom-mediaStop,
#custom-mediaNext,
#custom-info, /*New Info Tooltip*/
#custom-weather
{
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    border: 0px;
}

/*Top left*/
#custom-power_btn {
    border-radius: 10px 10px 10px 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 15px;
}

#custom-lock_screen {
    border-radius: 10px 0px 0px 10px;
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    margin-left: 5px;
}

#workspaces {
    border-radius: 0px 10px 10px 0px;
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    padding-right: 0px;
    padding-left: 5px;
}

#workspaces button {
    padding: 5px;
    color: @writingColor;
    margin-right: 5px;
}

#workspaces button.active {
    color: #000000;
    background: @highlightColor;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @highlightColor;
    color: @highlightWritingColor;
    border-radius: 10px;
}

/*Top middle*/
#idle_inhibitor {
    border-radius: 10px 0px 0px 10px;
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

#clock,
#custom-time {
    border-radius: 0px 10px 10px 0px;
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
}


#custom-updates {
    border-radius: 10px 10px 10px 10px;
    border-width: 2px;
    border-style: solid;
    margin-left: 5px;
}

menuitem {
    border-radius: 15px;
}

/*Top right*/
#tray {
    border-radius: 10px 10px 10px 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    margin-right: 5px;
    margin-left: 0px;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

#custom-power_profile {
    border-radius: 0px 0px 0px 0px;
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
}

#battery {
    border-radius: 0px 10px 10px 0px;
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    margin-right: 5px;
}

#cpu {
    border-radius: 10px 0px 0px 10px;
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

#pulseaudio,
#temperature {
    border-radius: 0px 0px 0px 0px;
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
}

#language {
    border-radius: 0px 10px 10px 0px;
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
}

#custom-myhyprv {
    border-radius: 10px 10px 10px 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    margin-right: 5px;
    margin-left: 5px;
}

/*Bottom left*/
#custom-launch_wofi {
    border-radius: 10px 10px 10px 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    margin-left: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

#custom-dropdownScripts,
#custom-dropdownApps,
#custom-dropdownFiles {
    border-radius: 10px 10px 10px 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    margin-left: 5px;
    padding: 6px 12px 6px 12px;
}

#custom-launch_thunar {
    border-radius: 0px 10px 10px 0px;
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 24px;
}

/*Bottom middle*/
#taskbar{
    border-radius: 10px 10px 10px 10px;
    border-width: 2px;
    border-style: solid;
    padding-left: 0px;
    padding-right: 0px;
}

#taskbar.empty{
	background: rgba(12, 12, 12, 0.0);
    border-style: none;
}

#taskbar button {
    padding: 5px;
    color: @writingColor;
}

#taskbar button.active {
    color: @highlightWritingColor;
    background: @highlightColor;
    border-radius: 10px;
}

#taskbar button:hover {
    background: @highlightColor;
    color: #11111b;
    border-radius: 10px;
}

/*Bottom Right*/
#custom-media {
    border-radius: 10px 10px 10px 10px;
    /*border-width: 2px;*/
    border-style: solid;
    margin-right: 5px;
    margin-left: 5px;
    background: @highlightColor;
    color: @highlightWritingColor;
    opacity: 0.8;
}

#custom-mediaBack {
    border-radius: 10px 0px 0px 10px;
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 24px;
}

#custom-mediaPlay {
    border-radius: 0px 0px 0px 0px;
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 24px;
}

#custom-mediaStop {
    border-radius: 0px 0px 0px 0px;
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 24px;
}

#custom-mediaNext {
    border-radius: 0px 10px 10px 0px;
    border-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 8px;
    font-size: 24px;
}

#custom-info {
    border-radius: 10px 10px 10px 10px;
    border-width: 2px;
    border-style: solid;
    margin-right: 5px;
    margin-left: 0px;
}

#custom-weather {
    border-radius: 10px 10px 10px 10px;
    border-width: 2px;
    border-style: solid;
    margin-right: 5px;
    margin-left: 0px;
}

/*Hover colors*/
#custom-power_btn:hover,
#custom-lock_screen:hover,
#idle_inhibitor:hover,
#clock:hover,               /*same custom-time*/
#custom-time:hover,         /*same clock*/
#custom-updates:hover,
#backlight:hover,
#custom-power_profile:hover,
#battery:hover,
#cpu:hover,
#pulseaudio:hover,
#temperature:hover,
#language:hover,
#custom-myhyprv:hover,
#custom-launch_wofi:hover,
#custom-dropdownScripts:hover,
#custom-dropdownApps:hover,
#custom-dropdownFiles:hover,
#custom-mediaBack:hover,
#custom-mediaPlay:hover,
#custom-mediaStop:hover,
#custom-mediaNext:hover,
#custom-info:hover,
#custom-weather:hover {
    background-color: @highlightColor;
    color: @highlightWritingColor;
}

/*Top left to right*/
#custom-power_btn,
#custom-lock_screen,
#workspaces,
#idle_inhibitor,
#clock,                         /*same as custom-time*/
#custom-time,                   /*same as clock*/
#custom-updates,
#tray,
#backlight,
#custom-power_profile,          /*Not sure the order?*/
#battery,
#cpu,
#pulseaudio,
#temperature,
#language,
#custom-myhyprv,
#custom-launch_wofi,
#custom-dropdownScripts,
#custom-dropdownApps,
#custom-dropdownFiles,
#taskbar,
#custom-mediaBack,
#custom-mediaPlay,
#custom-mediaStop,
#custom-mediaNext,
#custom-info, /*New Info Tooltip*/
#custom-weather {
border-color: @borderColor;
background: @backgroundColor;
opacity: 0.7;
}

/*Not sure*/
#disk {
    border-radius: 0px 10px 10px 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
}

#temperature.critical {
    color: #e92d4d;
}

#window {
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
}