window {
    margin: 0px;
    border: 2px solid #ffbb00;
    /* main window background color */
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #1e1e2e;
    font-weight: bold;
    /* searchbox background color */
    background-color: rgba(255, 255, 255, 0.1);
   	outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 15px;
}

#input:focus {
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 0px;
}

#inner-box {
    margin: 4px;
    background-color: rgba(255, 255, 255, 0);
    color: #1e1e2e;
    font-weight: bold;
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 15px;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
}

#img:selected {
    background-color: #ffbb00;
    border-radius: 15px;
}

#text:selected {
    color: #1e1e2e;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: #ffbb00;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: #ffbb00;
}